:root{
    --pale-cyan: hsl(193, 100%, 96%);
    --primary-blue:hsl(208, 11%, 55%);
    --secondary-cyan: hsl(192, 100%, 9%);
    --accent-color: hsl(322, 100%, 66%);
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img{max-width: 100%;}

header{
    background: url(images/bg-hero-mobile.svg) top center no-repeat, var(--pale-cyan);
    padding: 2em 1em;
    color: var(--secondary-cyan);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav img{height: 1em;}
nav a{
    color: var(--secondary-cyan);
    font-weight: 700;
    font-size: 0.6rem;
    background-color: white;
    padding: 0.5em 2em;
    border-radius: 2em;
    box-shadow: 0 3px 10px 0px hsl(0deg 0% 0% / 20%);
}

nav a:hover{
    color: var(--primary-blue);
}

.header__hero{padding-inline: 1em; text-align: center; margin-block-start: 5em;}
.header__text{display: flex; flex-direction: column; row-gap: 1em; align-items: center;}
.header__text h1{font-family: "Poppins", sans-serif; font-size: 1.3rem;}
.header__text p{font-size: 0.9rem;}
.header__hero a{color: white; background-color: var(--accent-color); padding: 1em 5em; margin-block: 1em; font-size: 0.7rem; border-radius: 2em;box-shadow: 0 3px 10px 0px hsl(0deg 0% 0% / 20%);}
.header__img{margin-block-start: 1.8em;}

.header__hero a:hover{opacity: .5;}

main{
    padding-inline: 1em;
    display: grid;
    grid-template-rows: repeat(3, 1fr) auto;
    row-gap: 2em;
    margin-block-start: 4em;
}
main section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 3em;
    border-radius: 1em;
    box-shadow: 0 3px 10px 0px hsl(0deg 0% 0% / 20%);
    overflow: hidden;
    padding: 2em;
    text-align: center;
}
.illustration{padding-inline: 1em;}
.text__group h2{font-family: "Poppins", sans-serif;font-size: 1.1rem;color: var(--secondary-cyan);}
.text__group p{font-size: 0.8rem; margin-block-start: 1rem; color: var(--primary-blue);}

footer{
    background-color: var(--secondary-cyan);
    color: white; 
    position: relative;
    padding: 8em 1em 2em;
    display: grid;
    row-gap: 3em;
}

footer ul li:not(:last-child) { 
    margin-bottom: 1em;  
 }

.getstarted{
    position: relative;
    background-color: white;
    box-shadow: 0 3px 10px 0px hsl(0deg 0% 0% / 20%);
    padding: 2em 1.5em 2.5em;
    border-radius: 1em;
    text-align: center;
    margin-inline: 0.6em;
    transform: translateY(40%);
    z-index: 2;
}

.getstarted h2{
    font-size: 1rem; margin-block-end: 1.5em;color: var(--secondary-cyan);
}
.getstarted a{color: white; background-color: var(--accent-color); padding: 1em 4em; font-size: 0.6rem; border-radius: 2em;box-shadow: 0 3px 10px 0px hsl(0deg 0% 0% / 20%);}
.getstarted a:hover{opacity: .5;}

.footer__logo{filter: brightness(0) invert(1); height: 1.5em; margin-block-end: 1.5em;}
.footer__info, .footer__pages{font-size: 0.9rem;}
.footer__info ul li{display: grid; grid-template-columns: 1.2em 1fr; column-gap: 1em;}
.footer__info ul li img{ padding-block-start: 0.3em;}
.footer__pages a{color: white;}
.footer__pages a:hover{text-decoration: underline;}
.footer__social{display: flex; column-gap: 1em; justify-content: center;margin-block-end: 1em;}
.footer__social a{font-size: 0.8rem;color: white;border: 1px solid white;padding: 0.3em;border-radius: 50%;}
.footer__social a:hover{color: var(--accent-color); border-color: var(--accent-color);}
.footer__copyright{text-align: center;font-size: 0.5rem;}

@media only screen and (min-width: 1000px) {
    header{padding: 3em 4em; background: url(images/bg-hero-desktop.svg) top center no-repeat, var(--pale-cyan);
    }
    .header__hero{display: grid;grid-template-columns: 3fr 4fr; column-gap: 5em; padding-inline: 0;  margin-block-start: 3em;}
    .header__text{align-items: flex-start;justify-content: center; text-align: left;}
    .header__text h1{font-size: 2.5rem;}
    .header__text p{font-size: 1rem;}
    .header__img{margin-block-start: 1em;}
    .header__hero a{padding: 1.5em 5em; margin-block: 1.5em;font-weight: bold}


    nav img{height: 1.5em;}
    nav a{font-size: 0.7rem; padding: 1em 4em;}

    main{padding-inline: 5em; margin-block-start: 8em;}
    main section{align-items: center;text-align: start;column-gap: 12em;padding-inline: 6em 1em;}
    main section:nth-child(even){flex-direction: row;}
    main section:nth-child(odd){flex-direction: row-reverse;}
    .text__group h2{font-size: 1.5rem;}
    .text__group p{font-size: 0.95rem;}

    .getstarted{margin-inline: 25%;transform: translateY(35%);padding-block:3em 3.5em;}
    .getstarted h2{font-size: 1.5rem;}
    .getstarted a{font-size: 0.9rem; font-weight: bold;}

    footer{grid-template-columns: 30% auto auto;row-gap: 0;padding: 12em 5em 3em;}

    .footer__info{position: relative;}
    .footer__logo{height: 2em;position: absolute;top: -64px;}
    .footer__pages{column-count: 2;margin-inline-start: 8em;}
    .footer__social{justify-content: flex-start;}
    .footer__extra{display: flex;flex-direction: column;justify-content: space-between;}
    .footer__copyright{text-align: start;font-size: 0.6rem;margin-block-start: 15em;}
}